
@media screen and (min-width: 1920px){
    .nav li a{
        font-size: 1.2vw;
    }

    header div{
        top: 84%;
    }

    .storyCont>div{
        padding-top: 2vh;
    }

    .storyCont h4{
        font-size: 3vw;
        font-weight: bold;
    }

    .storyCont h5{
        font-size: 1.2vw;
    }

    .featCont{
        margin-top: 1.5%;
        margin-left: 35vw;
    }

    .featCont img{
        width: 40vw;
        margin: 7% auto;
    }

    .dlc1 ul:first-child{
        margin-left: 13%;
    }

    .dividImg{
        width: 100vw;
        height: 100vh;
    }

    .featCont1>div{
        width: 70vw;
    }

    .dlc_xbox{
        width: 70vw;
        height: auto;
        margin-left: 0;
    }

    .dlc_xbox img{
        width: 35vw;
        height: auto;
    }

    .dlc2 ul{
        width: calc(35vw - 40px);
    }

    .dlc2 ul h5{
        font-size: 1.2vw;
    }

    .dlc2 li h6{
        font-size: 1vw;
    }

    .dlc2>h5{
        width: calc(35vw - 40px);
        font-size: 1.2vw;
    }

    .awards{
        width: 100vw;
        height: 90vh;
    }

    .awards ul{
        margin-left: 0;
        width: 50vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .music{
        height: 86vh;
        width: 100vw;
    }

    .marquee-content{
        padding-top: 50vh;
    }
}

@media screen and (max-width: 1280px){
    header{
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 59vh;
    }
    header div{
        top: 79%;
    }

    .storyCont>div{
        width: 50vw;
    }

    .featCont{
        width: 61vw;
        margin-left: 37vw;
    }

    .featCont img{
        width: 50vw;
        margin: 10% auto;
    }

    .dlc1{
        width: 95%;
    }

    footer img{
        width: 50vw;
    }
}

@media screen and (max-width: 820px){
    .hamburger{
        top: 3vh;
    }

    header{
        width: 100vw;
        min-height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    header a{
        top: 2vh;
    }

    header a img{
        width: 8vw;
    }

    .nav{
        font-size: 1.3vw;
        width: 20vw;
    }

    .nav li a{
        font-size: 2vw;
        font-weight: bold;
        width: 18vw;
    }

    header div{
        top: 80%;
        height: auto;
    }

    header h2{
        font-size: 10vw;
    }
    
    header h3{
        font-size: 2vw;
    }

    #storySec{
        margin-top: 10%;
    }

    .storyCont{
        height: 60vw;
    }

    .storyCont>div{
        margin-left: 5vw;
        padding-top: 5vw;
    }

    .storyCont h4{
        margin-bottom: 10%;
        font-size: 4vw;
        font-weight: bold;
    }

    h5{
        font-size: 1.8vw;
    }

    .features1{
        height: 70vw;
    }

    .featCont{
        width: 70vw;
        margin-left: 30vw;
        margin-top: 1vw;
    }

    .featCont h4{
        font-size: 2.2vw;
        width: 90%;
    }

    .featCont img{
        width: 45vw;
        margin: 5% auto;
    }

    .dlc1 ul h4 {
        margin-left: 0;
    }

    .dividImg{
        width: 100vw;
        height: 43vh;
    }

    .featCont1>div{
        width: 95vw;
    }

    .featCont1 div h4{
        font-size: 2vw;
    }

    .dlc_xbox{
        width: 80vw;
        justify-content: space-around;
        margin: 50px auto;
        height: auto;
    }

    .featCont1 div img{
        width: 40vw;
        height: 28vw;
    }

    .awards{
        width: 100vw;
        height: 40vh;
    }

    .awards ul{
        margin-left: 0;
        width: 50vw;
        height: 54vh;
    }

    .awards ul li{
        padding-top: 1vh;
    }

    .awards h3{
        font-size: 3vw;
    }

    .musicBox{
        height: 10vh;
    }

    .music{
        height: 36vh;
    }

    .marquee-content{
        padding-top: 15vh;
        margin-bottom: 0;
    }

    .gamever{
        width: 70vw;
        height: auto;
        display: block;
    }

    .gamever a{
        display: inline-block;
        flex-grow: unset;
        width: 34vw;
        height: 40vh;
        filter: grayscale(0);
        background-size: contain;
        /* text-align: center; */
    }

    .item1,
    .item2,
    .item3,
    .item4{
        flex-grow: unset;
    }
}

@media screen and (max-width: 430px){
    .hamburger{
        top: 2vh;
    }

    .nav li{
        margin: 20px 0;
    }

    .nav li a{
        font-size: 12px;
    }

    .nav li a::after{
        width: 1vw;
        height: 1vw;
        margin-left: 2vw;
    }

    header{
        min-height: 240px;
    }

    header h3{
        font-size: 12px;
    }

    .storyCont{
        margin-bottom: 8vh;
        height: 100vw;
        background-image: linear-gradient(rgba(51,51,51,0.9), rgba(51,51,51,0.9)), url(../img/NieR/landing/Frame\ 39.jpg);
    }

    .storyCont>div{
        width: 90vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .storyCont h4{
        font-size: 18px;
        font-weight: bold;
    }

    .storyCont h5{
        font-size: 12px;
    }

    .features1{
        height: 140vw;
        background-image: linear-gradient(rgba(51,51,51,0.9), rgba(51,51,51,0.9)), url(../img/NieR/landing/odd2.jpg);
    }

    .featCont{
        padding-top: .5vh;
        width: 90vw;
        margin: 0 auto;
    }

    .featCont h4{
        font-size: 16px;
    }

    .featCont img{
        margin: 3vh auto;
        width: 90vw;
    }

    .dlc1{
        margin: 0 auto;
        width: 90vw;
    }

    .dlc1 ul:first-child{
        margin-left: 0;
    }

    .dlc1 ul li::before{
        width: 1vw;
        height: 1vw;
        top: 3px;
        left: -10px;
    }

    .dlc1 ul h4{
        font-size: 16px;
    }

    .dlc1 ul h5{
        font-size: 12px;
    }

    .dividImg{
        margin-top: 2vh;
        height: 31vh;
    }

    .featCont1>div{
        padding-top: 5vh;
        width: 90vw;
    }

    .featCont1 div h4{
        font-size: 16px;
    }

    .dlc_xbox{
        width: 90vw;
        margin: 3vh auto;
        flex-direction: column;
    }

    .featCont1 div img{
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    .featCont1 div img:nth-child(2){
        margin-left: 0;
    }

    .dlc2{
        margin-top: 2vh;
        flex-direction: column;
    }

    .dlc2 ul{
        margin: 0;
        width: 90vw;
    }

    .dlc2 ul h5{
        font-size: 14px;
    }

    .dlc2 li h6{
        font-size: 12px;
    }

    .dlc2 ul li::before{
        width: 1vw;
        height: 1vw;
        top: 7px;
    }

    .dlc2>h5{
        width: 90vw;
        font-size: 12px;
        margin-left: 0;
    }

    .gap{
        height: 10vh;
    }

    .awards{
        height: 28vh;
    }

    .awards ul{
        height: 28vh;
    }
    
    .awards ul li{
        padding-top: 0;
    }

    .awards h3{
        font-size: 14px;
        padding-left: 0;
        line-height: 1;
    }

    .awards li:first-child h3{
        padding-top: 4px;
    }

    .awards h5{
        font-size: 10px;
        color: #adadad;
        line-height: 1;
        margin-bottom: 1.6vh;
    }

    .musicBox{
        height: 5vh;
    }

    .music{
        height: 25vh;
    }

    .marquee{
        height: 25vh;
    }

    .marquee-content{
        padding-top: 12vh;
        font-size: 60px;
    }

    footer img{
        width: 90vw;
    }

    .gamever{
        width: 90vw;
        height: auto;
        display: block;
    }

    .gamever a{
        display: inline-block;
        flex-grow: unset;
        width: 100%;
        height: 40vh;
        filter: grayscale(0);
        background-size: contain;
        margin: 1vh auto;
    }

    .item1,
    .item2,
    .item3,
    .item4{
        flex-grow: unset;
    }
}